<div class="container">
  <form id="new-idea-form">
    <input type='text' name='title' />
    <textarea name='body'></textarea>
    <button class='new-idea'>Add Idea</button>
  </form>

  <div id='ideas'></div>
</div>
