<div class="container">
  <form id="new-idea-form">
    <h4>Add New Idea</h4>
    <input type='text' name='title' placeholder="Title" />
    <textarea name='body' placeholder="Body"></textarea>
    <button class='new-idea'>Add Idea</button>
  </form>

  <div id='ideas'></div>
</div>
